@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 25px;
    margin: 15px;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 600px;
    margin: 15px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.fa-solid {
    display: flex;
    align-self: flex-end;
    font-size: 128px;
    margin: 30px;
}

.weather-temp {
    display: flex;
    align-self: flex-start;
    font-family: roboto;
    font-size: 96px;
    margin: 30px;
}

.date {
    font-family: roboto;
    font-size: 28px;
    font-weight: bold;
}