body {
    background-color: #1F2937;
}

.web-app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.city-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    width: 500px;
    flex-shrink: 1;
    margin: 50px;
    background-color: white;
}

#search-icon {
    padding: 5px;
    margin: 10px;
}

#city {
    padding: 5px;
    margin: 5px;
}

.weather-app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    margin: 50px;
    background-color: white;
}

.day-box {
    display: flex;
    height: 200px;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    margin: 50px;
    background-color: white;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}